### macOS
.DS_Store
._*
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Xcode
xcuserdata/
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
timeline.xctimeline
playground.xcworkspace

### CocoaPods
Pods/
*.xcworkspace

### Swift Package Manager
.build/
Package.resolved
